<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>One Search Hundreds of Jobs!</h3>
            <div class="banner-form">
                <form>
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Keywords / Job Title">
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="City or Postcode">
                                <i class="ri-map-pin-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <button type="submit" class="submit-btn">Find Jobs</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="popular-search">
                <span class="title">Popular Search: </span>
                <a routerLink="/job-listing">Designer</a>
                <a routerLink="/job-listing">Developer</a>
                <a routerLink="/job-listing">Web</a>
                <a routerLink="/job-listing">iOS</a>
                <a routerLink="/job-listing">PHP</a>
                <a routerLink="/job-listing">Senior</a>
                <a routerLink="/job-listing">Engineer</a>
            </div>
        </div>
    </div>
</div>

<!-- Jobs -->
<div class="jobs-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="jend-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-5 result-count">
                        <p>Showing 1 – 6 of 145 results</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-7 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <select>
                                <option>Default</option>
                                <option>Popularity</option>
                                <option>Latest</option>
                                <option>Price: low to high</option>
                                <option>Price: high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job1.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Product Designer</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Design</li>
                                    <li><i class="ri-time-line"></i> 2 Week Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                    <li class="urgent">Urgent</li>
                                </ul>
                                <div class="price">$150 - $180 <span>/Per Week</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job2.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Creative Director</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Automotive Jobs</li>
                                    <li><i class="ri-time-line"></i> 2 Hour Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 105 San Antonio, TX</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                </ul>
                                <div class="price">$120 - $140 <span>/Per Week</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job3.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">General Ledger Accountant</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Accounting  & Finance</li>
                                    <li><i class="ri-time-line"></i> 1 Day Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 320 Los Angeles, CA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                    <li class="internship">Internship</li>
                                </ul>
                                <div class="price">$120 - $140 <span>/Per Week</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job4.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Finance Manager & Health </a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Medical & Health</li>
                                    <li><i class="ri-time-line"></i> 5 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 320 Atlanta, GA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                    <li class="urgent">Urgent</li>
                                </ul>
                                <div class="price">$30 - $40 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job5.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Group Marketing Manager</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> Customer</li>
                                    <li><i class="ri-time-line"></i> 3 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                    <li class="urgent">Urgent</li>
                                </ul>
                                <div class="price">$30 - $40 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job6.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">iOS Developer</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> IT Agency</li>
                                    <li><i class="ri-time-line"></i> 1 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> Los Angeles, CA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Full Time</li>
                                    <li class="freelance">Freelance</li>
                                </ul>
                                <div class="price">$20 - $30 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-md-6">
                        <div class="job-card">
                            <div class="content">
                                <div class="job-image">
                                    <a routerLink="/job-details">
                                        <img src="assets/images/job/job7.jpg" alt="job-image">
                                    </a>
                                </div>
                                <h3><a routerLink="/job-details">Flutter Developer</a></h3>
                                <ul class="job-list1">
                                    <li><i class="ri-briefcase-line"></i> HiboTheme</li>
                                    <li><i class="ri-time-line"></i> 2 Days Ago</li>
                                </ul>
                                <span><i class="ri-map-pin-line"></i> New York, USA</span>
                            </div>
                            <div class="job-sub-content">
                                <ul class="job-list2">
                                    <li class="time">Part Time</li>
                                    <li class="freelance">Freelance</li>
                                </ul>
                                <div class="price">$22 - $23 <span>/Per Hour</span></div>
                            </div>
                            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/job-listings" class="prev page-numbers"><i class="ri-arrow-left-s-line"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/job-listings" class="page-numbers">2</a>
                                <a routerLink="/job-listings" class="page-numbers">3</a>
                                <a routerLink="/job-listings" class="page-numbers">4</a>
                                <a routerLink="/job-listings" class="next page-numbers"><i class="ri-arrow-right-s-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="job-listings-sidebar">
                    <div class="widget-item">
                        <h3>Type of Category</h3>
                        <div class="widget-body">
                            <ul class="custom-checkbox">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="python">
                                        <label class="form-check-label" for="python">
                                            Python
                                            <span>(750)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="wordpress">
                                        <label class="form-check-label" for="wordpress">
                                            WordPress
                                            <span>(111)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="javascript">
                                        <label class="form-check-label" for="javascript">
                                            JavaScript
                                            <span>(123)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="php">
                                        <label class="form-check-label" for="php">
                                            PHP
                                            <span>(60)</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-item">
                        <h3>Type of Employment</h3>
                        <div class="widget-body">
                            <ul class="custom-checkbox">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="all-levels">
                                        <label class="form-check-label" for="all-levels">
                                            Full Time Jobs
                                            <span>(185)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="beginner">
                                        <label class="form-check-label" for="beginner">
                                            Part Time Jobs
                                            <span>(60)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="intermediate">
                                        <label class="form-check-label" for="intermediate">
                                            Remote Jobs
                                            <span>(95)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="expert">
                                        <label class="form-check-label" for="expert">
                                            Internship
                                            <span>(111)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="contract">
                                        <label class="form-check-label" for="contract">
                                            Contract
                                            <span>(111)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="training-jobs">
                                        <label class="form-check-label" for="training-jobs">
                                            Training Jobs
                                            <span>(111)</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-item">
                        <h3>Seniority Level</h3>
                        <div class="widget-body">
                            <ul class="custom-checkbox">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="paid">
                                        <label class="form-check-label" for="paid">
                                            Student Level
                                            <span>(750)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="free">
                                        <label class="form-check-label" for="free">
                                            Entry Level
                                            <span>(111)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="mid-level">
                                        <label class="form-check-label" for="mid-level">
                                            Mid Level
                                            <span>(65)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="senior-level">
                                        <label class="form-check-label" for="senior-level">
                                            Senior level
                                            <span>(43)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="director">
                                        <label class="form-check-label" for="director">
                                            Director
                                            <span>(99)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="vp">
                                        <label class="form-check-label" for="vp">
                                            VP
                                            <span>(132)</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-item">
                        <h3>Salary Range</h3>
                        <div class="widget-body">
                            <ul class="custom-checkbox">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="zero-to-one">
                                        <label class="form-check-label" for="zero-to-one">
                                            $1200 - $1400
                                            <span>(143)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="one-to-three">
                                        <label class="form-check-label" for="one-to-three">
                                            $400 - $600
                                            <span>(22)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="three-to-six">
                                        <label class="form-check-label" for="three-to-six">
                                            $1000 - $1200
                                            <span>(32)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="six-to-ten">
                                        <label class="form-check-label" for="six-to-ten">
                                            $800 - $1000
                                            <span>(102)</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-item">
                        <h3>Based On Gender</h3>
                        <div class="widget-body">
                            <select class="form-select">
                                <option selected>Select Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>