<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Looking for a trainer? Find the perfect one here!</h3>
            <div class="banner-form">
                <form>
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Keywords">
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="City or Postcode">
                                <i class="ri-map-pin-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <button type="submit" class="submit-btn">Find Trainer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Jobs -->
<div class="jobs-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate1.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Liam Noah
                                    </a>
                                </h3>
                            </div>
                            <p>Developer</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate2.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Olivia Emma
                                    </a>
                                </h3>
                            </div>
                            <p>Designer</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate3.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Charlotte Amelia
                                    </a>
                                </h3>
                            </div>
                            <p>Copywriter</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate4.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Oliver Elijah
                                    </a>
                                </h3>
                            </div>
                            <p>SEO & Marketing</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate5.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        William James
                                    </a>
                                </h3>
                            </div>
                            <p>Translator</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate6.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Benjamin Lucas
                                    </a>
                                </h3>
                            </div>
                            <p>Videographer</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate7.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Henry Alexander
                                    </a>
                                </h3>
                            </div>
                            <p>Accountant</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate8.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Sophia Isabella
                                    </a>
                                </h3>
                            </div>
                            <p>HR Manager</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate9.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Evelyn Harper
                                    </a>
                                </h3>
                            </div>
                            <p>SEO Professional</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate10.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Mason Ethan
                                    </a>
                                </h3>
                            </div>
                            <p>PR or Branding</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate11.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Daniel Jacob
                                    </a>
                                </h3>
                            </div>
                            <p>Construction Manager</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="candidate-card">
                            <a routerLink="/candidate-details" class="d-inline-block">
                                <img src="assets/images/candidates/candidate12.jpg" alt="candidate-image">
                            </a>
                            <div class="title">
                                <h3>
                                    <a routerLink="/candidate-details">
                                        Luna Camila
                                    </a>
                                </h3>
                            </div>
                            <p>Customer Service Specialist</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <div class="sub-title">
                                <p><i class="ri-map-pin-line"></i> St Brooklyn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="pagination-area">
                            <div class="nav-links">
                                <a routerLink="/candidates" class="prev page-numbers"><i class="ri-arrow-left-s-line"></i></a>
                                <span class="page-numbers current">1</span>
                                <a routerLink="/candidates" class="page-numbers">2</a>
                                <a routerLink="/candidates" class="page-numbers">3</a>
                                <a routerLink="/candidates" class="page-numbers">4</a>
                                <a routerLink="/candidates" class="next page-numbers"><i class="ri-arrow-right-s-line"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="job-listings-sidebar">
                    <div class="widget-item">
                        <h3>Type of Training</h3>
                        <div class="widget-body">
                            <ul class="custom-checkbox">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="all-levels">
                                        <label class="form-check-label" for="all-levels">
                                            Online couching
                                            <span>(185)</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="beginner">
                                        <label class="form-check-label" for="beginner">
                                            In-person couching
                                            <span>(60)</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-item">
                        <h3>Based On Gender</h3>
                        <div class="widget-body">
                            <select class="form-select">
                                <option selected>Select Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
