<div class="banner-area">
    <div class="container">
        <div class="banner-content">
            <h1>Searching For A Fitness Trainer? <br>Find the Perfect One Here</h1>
            <div class="banner-form">
                <form>
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Name">
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="City or Postcode">
                                <i class="ri-map-pin-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <button type="submit" class="submit-btn">Find Trainer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="popular-search">
                <span class="title">Popular Search: </span>
                <a routerLink="/job-listing">Designer</a>
                <a routerLink="/job-listing">Developer</a>
                <a routerLink="/job-listing">Web</a>
                <a routerLink="/job-listing">iOS</a>
                <a routerLink="/job-listing">PHP</a>
                <a routerLink="/job-listing">Senior</a>
                <a routerLink="/job-listing">Engineer</a>
            </div>
        </div>
    </div>
    <div class="banner-shapes">
        <div class="shape1">
            <img src="assets/images/banner/user2.jpg" alt="user">
        </div>
        <div class="shape2">
            <img src="assets/images/banner/shape2.png" alt="shape">
        </div>
        <div class="shape3">
            <img src="assets/images/banner/user1.jpg" alt="user">
        </div>
        <div class="shape4">
            <img src="assets/images/banner/shape5.jpg" alt="shape">
        </div>
        <div class="shape5">
            <img src="assets/images/banner/shape4.png" alt="shape">
        </div>
        <div class="shape6">
            <img src="assets/images/banner/shape1.png" alt="shape">
        </div>
        <div class="shape7">
            <img src="assets/images/banner/shape6.jpg" alt="shape">
        </div>
        <div class="shape8">
            <img src="assets/images/banner/user4.jpg" alt="user">
        </div>
        <div class="shape9">
            <img src="assets/images/banner/user3.jpg" alt="user">
            <div class="other-into-content">
                <img src="assets/images/banner/shape5.jpg" alt="shape">
            </div>
        </div>
        <div class="shape10">
            <img src="assets/images/banner/shape3.png" alt="shape">
        </div>
    </div>
</div>
