<!-- Page Title -->
<div class="inner-banner">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Candidate Details</h3>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Candidate Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Candidate Details -->
<div class="candidate-details-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="candidate-details-sidebar">
                    <div class="profile">
                        <img src="assets/images/candidates/candidate7.jpg" class="main-image" alt="candidates-image">
                        <div class="title">
                            <h3>Henry Alexander</h3>
                            <img src="assets/images/flags/switzerland.svg" alt="flag">
                        </div>
                        <p>Web Developer</p>
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <ul class="social-icon">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h3>Contact Info</h3>
                        <ul>
                            <li>
                                <span>Location</span>
                                <a href="https://www.google.com/maps/place/New+York,+NY,+USA/@40.6976637,-74.119764,11z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728" target="_blank">Melbourne, Australia</a>
                            </li>
                            <li>
                                <span>Email</span>
                                <a href="mailto:hello@henry.com">hello@henry.com</a>
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:+4471234567890">+44 7123 456 7890</a>
                            </li>
                        </ul>
                    </div>
                    <div class="download-resume">
                        <h3>Download Resume</h3>
                        <a href="javascript:void(0)" class="download-btn">PDF Formate CV <i class="ri-file-download-line"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="candidate-details-desc">
                    <h3>About Henry</h3>
                    <div class="bar"></div>
                    <p>A talented professional with an academic <strong>background</strong> in IT and proven commercial development experience as C++ developer since 1999. Has a sound knowledge of the software development life cycle. Was involved in more than 140 software development outsourcing projects.</p>
                    <p>Programming Languages: C/C++, .NET C++, Python, Bash, Shell, PERL, Regular expressions, Python, Active-script.</p>
                    <hr>
                    <h3>Work Experience</h3>
                    <div class="bar"></div>
                    <ul class="experience-list">
                        <li>
                            <img src="assets/images/job/job1.jpg" alt="job-image">
                            <h3>Product Designer</h3>
                            <span>Coding Agency</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2017 - April 2020 - 3 years</li>
                                <li><i class="ri-map-pin-line"></i> New York, USA</li>
                            </ul>
                        </li>
                        <li>
                            <img src="assets/images/job/job2.jpg" alt="job-image">
                            <h3>Sr. UI/UX Designer</h3>
                            <span>99 Coding</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2019 - April 2021 - 2 Years</li>
                                <li><i class="ri-map-pin-line"></i> San Antonio, TX</li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <h3>Skills</h3>
                    <div class="bar"></div>
                    <ul class="candidate-skills">
                        <li>Visual Design</li>
                        <li>UI/UX Design</li>
                        <li>Agile</li>
                        <li>Prototyping</li>
                        <li>New Layout</li>
                        <li>Career</li>
                    </ul>
                    <hr>
                    <h3>Education & Training</h3>
                    <div class="bar"></div>
                    <ul class="candidate-education">
                        <li>
                            <img src="assets/images/icon1.jpg" alt="job-image">
                            <h3>Bachelor in Software Engineering</h3>
                            <span>Harvard University</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2016 - April 2020 - 4 Years</li>
                                <li><i class="ri-map-pin-line"></i> Brylin, USA</li>
                            </ul>
                        </li>
                        <li>
                            <img src="assets/images/icon2.jpg" alt="job-image">
                            <h3>Masters in Art Design</h3>
                            <span>Harvard University</span>
                            <ul>
                                <li><i class="ri-time-line"></i> Jun 2020 - April 2021 - 1 Years</li>
                                <li><i class="ri-map-pin-line"></i> Brylin, USA</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="other-candidates-list">
                    <h3>Other Candidates</h3>
                    <div class="bar"></div>
                    <ul class="candidates-list">
                        <li>
                            <img src="assets/images/candidates/candidate1.jpg" alt="candidate-image">
                            <h4>
                                <a routerLink="/candidate-details">
                                    Liam Noah
                                </a>
                            </h4>
                            <p>Developer</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/candidates/candidate2.jpg" alt="candidate-image">
                            <h4>
                                <a routerLink="/candidate-details">
                                    Olivia Emma
                                </a>
                            </h4>
                            <p>Designer</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/candidates/candidate3.jpg" alt="candidate-image">
                            <h4>
                                <a routerLink="/candidate-details">
                                    Charlotte Amelia
                                </a>
                            </h4>
                            <p>Copywriter</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/candidates/candidate4.jpg" alt="candidate-image">
                            <h4>
                                <a routerLink="/candidate-details">
                                    Oliver Elijah
                                </a>
                            </h4>
                            <p>SEO & Marketing</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                        </li>
                        <li>
                            <img src="assets/images/candidates/candidate5.jpg" alt="candidate-image">
                            <h4>
                                <a routerLink="/candidate-details">
                                    William James
                                </a>
                            </h4>
                            <p>Translator</p>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>